# =========================================
# Unreal Engine Core Ignore
# =========================================
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# =========================================
# IDE & OS Files
# =========================================
.vscode/
.vs/
.idea/
*.code-workspace
*.sln
*.suo
*.opensdf
*.sdf
*.xcworkspace
*.DS_Store
Thumbs.db
*.db

# =========================================
# Compiled & Temporary Files
# =========================================
*.obj
*.o
*.patch
*.diff
*.log
*.crash
*_BuiltData.uasset

# =========================================
# Plugin Specific
# =========================================
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/
Plugins/*/Build/